{% extends "templates/home.html" %}

{% block main %}

{{ super() }}
<div class="container pt-2">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card rounded auth-form-body p-1">
                <div class="card-body">
                    <div class="text-center">
                        <img class="card-img-top" width="50%"
                            src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f680.png" alt="Naas logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-1">
            <div class="card rounded auth-form-body p-1">
                <div class="card-body">
                    <div class="text-center">
                        <img class="card-img-top" width="50%"
                            src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f3ce-fe0f.png"
                            alt="Naas logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-1">
            <div class="card rounded auth-form-body p-1">
                <div class="card-body">
                    <div class="text-center">
                        <img class="card-img-top" width="50%"
                            src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f4d7.png" alt="Naas logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-1">
            <div class="card rounded auth-form-body p-1">
                <div class="card-body">
                    <div class="text-center">
                        <img class="card-img-top" width="50%"
                            src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f4fa.png" alt="Naas logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}